.results {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.question-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.with-results {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.question-container a {
  text-decoration: none !important;
}

.question-container__back {
  display: flex !important;
  align-items: center !important;
  color: #000000;
}

.question-container__back span {
  width: 30px !important;
  height: 30px !important;
}
.question-container__back svg {
  width: 30px !important;
  height: 30px !important;
}

@media(max-width: 450px) {
  .results {
    max-width: 400px;
    padding: 5px;
  }
}