.new-question-card {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  justify-content: space-between;
}

.new-question h1 {
  text-align: center;
}

@media(max-width: 450px) {
  .new-question-card {
    max-width:  325px;
    padding: 5px;
  }
}